
.Question {
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}
.body1 {
    text-align: center;
    visibility: hidden;
}
.passed {
    background-color: rgb(211, 207, 207);
    text-align: center;
    color: rgb(39, 230, 103);
    font-weight: bolder;
}
.failed{
    background-color:rgb(211, 207, 207);
    text-align: center;
    color:rgb(255, 34, 34);
    font-weight:bolder
}
.btn-outline-primary {
    width: 400px;
    height: 100px;
    padding-top: 9px;
    font-size:xx-large;
}
.btn-danger {
    width: 400px;
    height: 100px;
    font-size:xx-large;
}
.btn-success {
    width:400px; 
    height:100px;
    font-size:xx-large;
}
.saveLink {
    padding-top: 10px;
    text-align: center;
}